body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('background-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container-1 {
    height: 100px;
    border-radius: 5px;
}

.logo {
    height: 100px;
    border-radius: 5px;
}

.main-container-2 {
    background-color: lightyellow;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.subcontainer-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.picture-1 {
    width: 500px;
    border-radius: 20px;
}

.subcontainer-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
.main-text {
    font-size: 20px;
    line-height: 1.5;
}

.subcontainer-3 {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.button-1 {
    display: block;
    background-color: tan;
    font-size: 18px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-2 {
    display: block;
    background-color:aquamarine;
    font-size: 18px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: yellow;
}

button:active {
    background-color: red;
}

.main-container-3 {
    display: inline-block;
    background-color: yellow;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}